@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #23252C; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: white;
  padding: 4rem 0;
}

.App{
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  background-color: #1A1B21;
}

header img{
  width: 100%;
}

.main-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem 3rem 2rem;
}

.main-content h1{
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.main-content .job-position{
  margin-top: .2rem;
  color: #F3BF99;
  text-align: center;
  font-size: .7rem;
}

.main-content .website-link{
  margin-top: .5rem;
  color: white;
  font-size: .6rem;
  text-align: center;
}

.main-content .buttons{
  margin-top: .8rem;
  display: flex;
  gap: 1rem;
}

button{
  text-align: center;
  gap: .5rem;
  padding: 7px 1rem;
  width: 6.5rem;
  font-size: .8rem;
  font-weight: 400;
  border-radius: 6px;
  border: none;
}

button .icons{
  margin-right: .3rem;
}

.linkedin-btn{
  color: white;
  background: #5093E2;
}

.main-content .about h2, .interests h2{
  font-size: 1.1rem;
}
.about{
  margin-top: 2rem;
}

.interests{
  margin-top: 1rem;
}
.about p, .interests p {
  margin-top: .3rem;
  font-size: .7rem;
  line-height: 1.6;
  color: #DCDCDC;
}

.footer{
  width: 100%;
  background-color: #161619;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-wrapper{
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}